.p-datatable {
  .p-datatable-thead > tr > th {
    background: var(--primary-500);
    .p-column-header-content {
      color: var(--base-white);
    }
  }

  .p-datatable-tbody > tr:focus {
    outline: unset;
  }

  .p-sortable-column {
    &.p-highlight {
      background: var(--primary-500);
      .p-sortable-column-icon {
        color: var(--base-white);
      }
    }

    &:not(.p-highlight):hover {
      background: var(--primary-500);
      color: var(--base-white);
    }

    &.p-highlight:hover {
      background: var(--primary-500);
      .p-sortable-column-icon {
        color: var(--base-white);
      }
    }

    &:focus {
      box-shadow: inset 0 0 0 0.15rem var(--primary-500);
    }

    &:not(.p-highlight):hover .p-sortable-column-icon {
      color: var(--base-white);
    }

    .p-sortable-column-icon {
      color: var(--base-white);

      &:hover {
        color: var(--base-white);
      }
    }
  }

  &.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: var(--primary-50);
  }

  .p-datatable-tbody .p-datatable-emptymessage > td {
    display: flex;
    justify-content: center;
  }
}
