.badgeApproved {
  background: #ecfdf3;
  color: #027a48;
  border-radius: 1rem;
}

.badgeRejected {
  background: #fef3f2;
  color: #b42318;
  border-radius: 1rem;
}

.badgePending {
  background: #fffaeb;
  color: #b54708;
  border-radius: 1rem;
}

.loader-screen{
  height: 85vh
}

.lds-dual-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #101828;
  border-color: #101828 transparent #101828 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p-datatable {
  .p-datatable-thead>tr>th {
    background: var(--primary-300);
    .p-column-header-content {
      color: var(--base-white)
    }
  }

  .p-datatable-tbody>tr:focus {
    outline: unset;
  }

  .p-sortable-column{
    &.p-highlight {
      background: var(--primary-400);
      .p-sortable-column-icon {
        color: var(--base-white);
      }
    } 

    &:not(.p-highlight):hover{
      background: var(--primary-400);
      color: var(--base-white)
    }

    &.p-highlight:hover {
      background: var(--primary-400);
      .p-sortable-column-icon {
        color: var(--base-white);
      }
    }

    &:focus {
      box-shadow: inset 0 0 0 0.15rem var(--primary-400);
    }

    &:not(.p-highlight):hover .p-sortable-column-icon {
      color: var(--base-white)
    }

    .p-sortable-column-icon{
      color: var(--base-white);

      &:hover{
        color: var(--base-white)
      }
    }
  }

  &.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
    background: var(--primary-50);;
  }

} 
